<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.propdsl"
            id="org.eclipse.acceleo.project.propdsl.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Acceleo Model to Text" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="org.eclipse.acceleo.project.propdsl.ui.popupMenus.AcceleoGeneratePropdsltoChocoAction"
               enablesFor="+"
               id="org.eclipse.acceleo.project.propdsl.ui.popupMenus.acceleoGeneratePropdsltoChocoAction"
               icon="icons/default.gif"
               label="Generate Propdsl to Choco"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
